
:root{
    --dark-blue: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonial: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
    --blue-one: hsl(198, 60%, 50%);

}

header{
    padding: 1% 0 !important;
    background-color: var(--dark-blue);
}

.nav-link{
    color: var(--white) !important;
}

.navbar-brand img{
    width: 80%;
}

.white-color{
    color: var(--white);
}

/* ----- hero section ----- */
.hero-section, .features-section, .productive{
    background-color: var(--dark-blue);
}

.illustration img{
    width: 100%;
}

.hero-link{
    background-color: var(--blue-one);
    color: var(--white);
    text-decoration: none;
    padding: 12px 50px;
    border-radius: 100px;
}

/* ----- feature section ----- */


/* ----- stay productive section ------ */
.prod-image img{
    width: 100%;
}
