
:root{
    --dark-blue: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonial: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
    --blue-one: hsl(198, 60%, 50%);

}

header{
    padding: 1% 0 !important;
    background-color: var(--dark-blue);
}

.nav-link{
    color: var(--white) !important;
}

.navbar-brand img{
    width: 80%;
}

.white-color{
    color: var(--white);
}

/* ----- hero section ----- */
.hero-section, .features-section, .productive, .testimonial-section, .get-started{
    background-color: var(--dark-blue);
}

.illustration img{
    width: 100%;
}

.hero-link{
    background-color: var(--blue-one);
    color: var(--white);
    text-decoration: none;
    padding: 12px 50px;
    border-radius: 100px;
}

/* ----- feature section ----- */


/* ----- stay productive section ------ */
.prod-image img{
    width: 100%;
}

.productive-link{
    position: relative;
    text-decoration: none;
    color: var(--blue-one);
}

.productive-link span img{
    width: 20px;
}

.productive-link::after{
    position: absolute;
    content: "";
    background-color: var(--blue-one);
    width: 160px;
    height: 2px;
    left: 0;
    bottom: 0;
    top: 26px;
}


/* ----- testimonial section0 ----- */
.testimonial-section{
    padding-top: 5rem;
}
.testimonial-author img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial{
    background-color: var(--dark-blue-testimonial);
    padding: 1rem 2rem;
}


/* ------ get started section ------ */
.margin-top{
    margin-top: 1rem;
    background-color: var(--dark-blue-testimonial);
}